.title-wrapper{
  padding:10px 20px 0px 20px;
  border-radius: 12px;
}

#topic-wrapper-sm{
  display:none;
}

#titles-sm{
  position:relative;
  display:none;
}
  
#title-sm{
  font-size:2em;
  display:block;
  position:absolute;
}

#title-2-sm{
  font-size:2em;
  position:absolute;
}

.gif{
  height:200px;
  width:auto;
}

#controls{
  margin-top:20px;
}

.form-control-lg{
  font-size:2em;
  font-family: 'Poppins', sans-serif;
  text-align:center;  
}

.preset{
  display:inline-block; 
}

.icon{
  padding-left:5px;
}

.title{
  font-family: 'Poppins', sans-serif;
  font-weight:900;  
  color:black;
  width:100%;
  font-size:4em;
}

.title-2{
  font-family: 'Poppins', sans-serif;
  font-weight:900;  
  color:navajowhite;
  width:100%;
  font-size:4em;
}

#modal{
  display:none;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  position:fixed;
  left:0;
  right:0;
  width:100%;
  height:100%;
  z-index:3;
}

.results-label{
  position:absolute;
  left:50%;
  transform:translateX(-50%) rotate(359deg);
  font-family: 'Poppins', sans-serif;
  font-weight:900;  
  z-index:2;
  color:black;
  background-color: white;
  padding:5px 10px;
  border: 1px solid black;
}

.r-container{
  display: flex;
  flex-flow: row nowrap;
  /* justify-content: center; */
  position:relative;
  margin-top:20px;
  margin-bottom:10px;
  overflow-x:hidden;
}

.arrow{
  position: absolute;
  top:70px;
  width: 0; 
  height: 0; 
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  z-index:2;
}
.arrow-right {
  border-left: 50px solid black;
  right:10px;
}
.arrow-left {
  border-right: 50px solid black;
  left:10px;
}

.r-element{
  padding:10px;
  height:100%;
  position:relative;
  z-index:1;
  margin-top: 18px;
  flex:0 0 auto;
}

.img-rating{
  position:absolute;
  bottom:0px;
  background-color:white;
  padding:5px 10px 0px 0px;
}

.btn, .rating-label{
  font-family: 'Poppins', sans-serif;
  font-style:bold;
}

.rating{
  font-family: 'Poppins', sans-serif;
  font-weight:900;
}

 /* modified from animate.css defs
  * https://github.com/daneden/animate.css/blob/master/animate.css 
  */
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  
}

  @-webkit-keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  20% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  60% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
@keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  20% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  60% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@media screen and (max-width: 1100px) {

  .title,.title-2{
    font-size:2em;
  }
  
}
@media screen and (max-width: 700px) {

#topic-wrapper-sm{
  display:block;
}

.title,.title-2{
  font-size:2em
}

#titles-sm{
  display:block;
}

#title-big{
  display:none;
}

#title-sm{
  left:0px;
  top:0px;
}

#title-2-sm{
  width:100%;
  top:30px;
}

#topic-wrapper{
  display:none;
}


.form-control-lg{
  width:100%;
  margin-top:50px;
}

@media screen and (max-width: 300px) {
.btn{
  padding:.2rem .4rem
}
}
}