.title-wrapper{
  padding:10px 20px 0px 20px;
  border-radius: 12px;
}

#topic-wrapper{
  /* nothin */  
}

#topic-wrapper-sm{
  display:none;
}

#title-big{
  /* nothin */
}
  
#titles-sm{
  position:relative;
  display:none;
}
  
#title-sm{
  font-size:2em;
  display:block;
  position:absolute;
}

#title-2-sm{
  font-size:2em;
  position:absolute;
}

.gif-onload{
  height:200px;
  width:auto;
}

#controls{
  margin-top:20px;
}

.form-control-lg{
  font-size:2em;
  font-family: 'Poppins', sans-serif;
  text-align:center;  
}

.title{
  font-family: 'Poppins', sans-serif;
  font-weight:900;  
  color:black;
  width:100%;
  font-size:4em;
}

.title-2{
  font-family: 'Poppins', sans-serif;
  font-weight:900;  
  color:navajowhite;
  width:100%;
  font-size:4em;
}

.results-label{
  position:absolute;
  left:50%;
  transform:translateX(-50%) rotate(359deg);
  font-family: 'Poppins', sans-serif;
  font-weight:900;  
  z-index:2;
  color:black;
  background-color: white;
  padding:5px 10px;
  border: 1px solid black;
}

.r-container{
  display: flex;
  flex-flow: row nowrap;
  /* justify-content: center; */
  position:relative;
  margin-top:20px;
  overflow-x:auto;
}

.arrow{
  position: absolute;
  top:70px;
  width: 0; 
  height: 0; 
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  z-index:2;
}
#arrow-right {
  border-left: 50px solid black;
  right:0px;
}
#arrow-left {
  border-right: 50px solid black;
  left:0px;
}

.r-element{
  padding:10px;
  height:100%;
  position:relative;
  z-index:1;
  margin-top: 18px;
  flex:0 0 auto;
}

.img-rating{
  position:absolute;
  bottom:0px;
  background-color:white;
  padding:5px 10px 0px 0px;
}

.btn, .rating-label{
  font-family: 'Poppins', sans-serif;
  font-style:bold;
}

.rating{
  font-family: 'Poppins', sans-serif;
  font-weight:900;
}

@media screen and (max-width: 1100px) {

  .title,.title-2{
    font-size:2em;
  }
  
}
@media screen and (max-width: 700px) {

#topic-wrapper-sm{
  display:block;
}

.title,.title-2{
  font-size:2em
}

#titles-sm{
  display:block;
}

#title-big{
  display:none;
}

#title-sm{
  left:0px;
  top:0px;
}

#title-2-sm{
  width:100%;
  top:30px;
}

#topic-wrapper{
  display:none;
}


.form-control-lg{
  width:100%;
  margin-top:50px;
}

@media screen and (max-width: 300px) {
.btn{
  padding:.2rem .4rem
}
}