.title-wrapper{
  padding:10px 20px 0px 20px;
  border-radius: 12px;
}

#topic-wrapper{
  /* nothin */  
}

#topic-wrapper-sm{
  display:none;
}

#title-big{
  /* nothin */
}
  
#titles-sm{
  position:relative;
  display:block;
}
  
#title-sm{
  font-size:2em;
  display:block;
  position:absolute;
}

#title-2-sm{
  font-size:2em;
  position:absolute;
}

.gif-onload{
  height:200px;
  width:auto;
}

#controls{
  margin-top:20px;
}

.form-control-lg{
  font-size:2em;
  font-family: 'Poppins', sans-serif;
  text-align:center;  
}

.title{
  font-family: 'Poppins', sans-serif;
  font-weight:900;  
  color:black;
  width:100%;
  font-size:4em;
}

.title-2{
  font-family: 'Poppins', sans-serif;
  font-weight:900;  
  color:navajowhite;
  width:100%;
  font-size:4em;
}

.results-label{
  position:absolute;
  top:0px;
  font-family: 'Poppins', sans-serif;
  font-weight:900;  
  transform: rotate(359deg);
  z-index:2;
  color:black;
  background-color: white;
  padding:5px 10px;
  border: 1px solid black;
}

.r-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  position:relative;
  margin-top:20px;
}

.r-element{
  padding:10px;
  height:100%;
  position:relative;
  z-index:1;
  margin-top: 18px;
}

.img-rating{
  position:absolute;
  bottom:0px;
  background-color:white;
  padding:5px 10px 0px 0px;
}

.btn, .rating-label{
  font-family: 'Poppins', sans-serif;
  font-style:bold;
}

.rating{
  font-family: 'Poppins', sans-serif;
  font-weight:900;
}

@media screen and (max-width: 600px) {

  .title,.title-2{
    font-size:2em;
  }
  
  #topic-wrapper{
    display:none;
  }
  
  #title-big{
    display:none;
  }
  
}

@media screen and (max-width: 400px) {

#topic-wrapper-sm{
  display:block;
}

.title,.title-2{
  font-size:2em
}

#title-sm{
  left:0px;
  top:0px;
}

#title-2-sm{
  width:100%;
  top:30px;
}

.form-control-lg{
  width:100%;
  margin-top:50px;
}